<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h1>ログイン</h1>

<% if flash.presence %>
  <%=flash[:alert] %>
<% end %>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :name, 'ユーザー' %>
    <%= text_field_tag :name, params[:name] %>
  </div>
  <div class="field">
    <%= label_tag :pass, 'パスワード' %>
    <%= password_field_tag :pass , params[:pass]%>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン" %>
  </div>
<% end %>

