<%=render_googlemap( @event['lat'], @event['lon'] ) %>

<h3><%= link_to( @event['title'], @event['event_url'], confirm: '外部サイトへジャンプします', target: '_blank' ) %></h3>

<h4>
  <%= Time.parse(@event['started_at']).to_s(:long_jp) %>
  ～
  <%= Time.parse(@event['ended_at']).to_s(:long_jp) %>
</h4>

<%=@event['catch'] %>

<h4><%= @event['accepted'] %><%=(@event['waiting']>0)? "(+#{@event['waiting']})":'' %>/<%= @event['limit'] %></h4>
<%= link_to( @event['owner_display_name'], action: 'users', nickname: @event['owner_nickname'] ) %>


<hr/>

<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">詳細</a></li>
  <li><a href="#address" data-toggle="tab" onClick="load_only_once();">場所</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <%=raw @event['description'] %>
  </div>
  <div class="tab-pane" id="address">
    <div id="map_canvas" style="width:500px; height:300px"></div>
  </div>

</div>
