<h2>
  <% event = @events.first['event'] %>
  <%= link_to( event['group']['name'], action: 'show', id: event['group']['id'] ) %>
</h2>

<table class='table table-striped table-bordered table-condensed'>

  <tr>
    <th></th>
    <th>タイトル</th>
    <th>開催日</th>
    <th>Popup</th>
  </tr>

  <% @events.each_with_index{|event,index| event = event['event']%>
      <tr>
        <td><span class="badge"><%= index+1 %></span></td>
        <td><%= link_to( event['title'][0..40], contoroller: 'events',  action: 'show', event_id: event['id'], starts_at: event['starts_at'], ends_at: event['ends_at'] ) %></td>
        <td><%= Time.parse(event['starts_at']).strftime('%Y/%m/%d') %></td>
        <td><a href="#" role="button" rel="popover" class="btn popover-test"
               title="<%=event['title'] %>" data-content="<%=event['title'] %>" data-placement="left">Popup</a></td>
      </tr>
  <% } %>

</table>