<%=render_googlemap( @event.lat, @event.lon ) %>

<h3><%= link_to( @event.title, @event.event_url ) %></h3>

<h4>
  <%= Time.parse(@event.started_at).strftime('%Y/%m/%d %H:%M:%S') if @event.started_at.presence %>
  ～
  <%= Time.parse(@event.ended_at).strftime('%Y/%m/%d %H:%M:%S') if @event.ended_at.presence %>
</h4>

<h4><%= @event.accepted %><%= (@event.waiting>0)? "(#{@event.waiting})":'' %>/<%= @event.limit %></h4>

<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">詳細</a></li>
  <li><a href="#profile" data-toggle="tab">参加者</a></li>
  <li><a href="#address" data-toggle="tab" onClick="load_only_once();">場所</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home"><%=raw @event.description %></div>
  <div class="tab-pane" id="profile">
    <%=render( partial: 'events_tab_members' ) %>
  </div>
  <div class="tab-pane" id="address">
    <h3><%= @event.address %></h3>
    <h3><%= @event.place %></h3>
    <div id="map_canvas" style="width:500px; height:300px"></div>
  </div>
  
</div>
