<table border=1>
  <tr>
    <th></th>
    <th>タイトル</th>
    <th>開催日</th>
  </tr>
<% @events.each_with_index{|event,index| %>
  <tr>
    <td><%= @offset + index %></td>
    <td><%= link_to( event.title[0..40], action: 'events', event_id: event.event_id ) %></td>
    <td><%= Time.parse(event.started_at).strftime('%Y/%m/%d') if event.started_at.presence %></td>
  </tr>
<% } %>
</table>

<%= link_to_if( (@page)>1, 'Prev', action: 'index', page: @page-1 ) %> / <%= link_to( 'Next', action: 'index', page: @page+1 ) %>
