<table class='table table-striped table-bordered table-condensed'>
  <tr>
    <th></th>
    <th>タイトル</th>
    <th>開催日</th>
    <th>popup</th>
  </tr>
<% @events.each_with_index{|event,index| %>
  <tr>
    <td><%= @offset + index %></td>
    <td><%= link_to( event.title[0..40],
                     { action: 'events', event_id: event.event_id },
                     { "data-toggle" => "tooltip", "title" => event.title + ':' + event.catch } ) %></td>
    <td><%= Time.parse(event.started_at).to_s(:short_jp) if event.started_at.presence %></td>
    <td><a href="#" role="button" rel="popover" class="btn popover-test"
           title="<%=event.title %>" data-content="<%=event.catch %>" data-placement="left">Popup</a></td>
  </tr>
<% } %>
</table>

<ul class="pager">
  <li><%= link_to_if( (@page)>1, 'Prev', action: 'index', page: @page-1 ) %></li>
  <li><%= link_to( 'Next', action: 'index', page: @page+1 ) %></li>
</ul>
