<h4><%=link_to( @user.nickname, action: 'users', user_id: @user.user_id  ) %></h4>
<%
  if @user.profile_url.match(%r!^http://twitter\.com!)
    sns_type = 'twiiter'
  elsif  @user.profile_url.match(%r!^http://www\.facebook\.com!)
    sns_type = 'facebook'
  else
    sns_type = 'mixi'
  end
%>
<h5><%=link_to( sns_type, @user.profile_url ) %></h5>

<table border=1>
  <tr>
    <th></th>
    <th>内容</th>
    <th>主催/一般</th>
    <th>参加人数</th>
  </tr>
  <% @user_events.each_with_index{|event,index| %>
  <tr>
   <td><%= index+1 %></td>
   <td>
     <%= link_to( event.title, action: 'events', event_id: event.event_id ) %>
   </td>
   <td>
     <% if @owner_events.find{|e| e.event_id == event.event_id } %>
       主催
     <% else %>
       一般
     <% end %>
   </td>
   <td>
     <%= event.accepted %>
   </td>
  </tr>
  <% } %>
</table>
