


<%=form_tag( 'welcome/search', method: :get, class: 'form-search' ) do %>
  <div class="input-append">
    キーワード
    <%= text_field_tag :keyword, '',
                       'data-provide' => "typeahead",
                       'data-source' => '["Ruby","Rails","Python","Scala","Java","PHP","C++","Perl","Objective-C","ActionScript","JavaScript","Struts","Seasar2","Spring","Hibernate","CakePHP","Symfony","CodeIgniter","FuelPHP","Django","Pylons",".NET","Unity","jQuery","Padrino","Sinatra","Catalyst"]'
    %>
    <!--- ToDo : button_to で書きたい --->
    <button type="submit" class="btn">検索</button>
  </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              詳細な条件
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="field">
              <label class="checkbox">
                <%= check_box_tag  :qiita, true, true, { tabindex: 1, accesskey: 'q' }  %>Qiita
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <%= check_box_tag  :zussar, true, true, { tabindex: 2, accesskey: 'z' }  %>Zussar
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <%= check_box_tag  :connpass, true, true, { tabindex: 3, accesskey: 'c' }  %>Connpass
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <%= check_box_tag  :atnd, true, true, { tabindex: 4, accesskey: 'a' }  %>Atnd
              </label>
            </div>
            <div class="field">
              <label class="checkbox">
                <%= check_box_tag  :doorkeeper, true, true, { tabindex: 5, accesskey: 'd' }  %>Doorkeeper
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>


<% end %>


<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      aaaa
    </div>
    <div class="item">
      bbbb
    </div>
    <div class="item">
      ccc
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>