<script type="text/javascript">
<!--
events = new Array() ;
<% @list.find_all{|i| !i.instance_of?(Qiita::TimeLine) }.each{|time_line| %>
event  = new Array() ;
event['title'] = '<%=truncate( time_line.title, length: 40, omission: "..." ) %>' ;
event['start'] = new Date( <%=time_line.started_at.year %>,
                           <%=(time_line.started_at.month-1) %>,
                           <%=time_line.started_at.day%>,
                           <%=time_line.started_at.hour  %>,
                           <%=time_line.started_at.min  %> ) ;
<% if time_line.ended_at.presence %>
event['end'] = new Date( <%=time_line.ended_at.year %>,
                         <%=(time_line.ended_at.month-1) %>,
                         <%=time_line.ended_at.day%>,
                         <%=time_line.ended_at.hour  %>,
                         <%=time_line.ended_at.min  %> ) ;
<% if time_line.instance_of?(Qiita::TimeLine) %>
event['backgroundColor'] = '#ff0000' ;
event['color'] = '#191970' ;
<% elsif time_line.instance_of?(Zussar::TimeLine) %>
event['backgroundColor'] = '#ff0000' ;
event['color'] = '#191970' ;
<% elsif time_line.instance_of?(Connpass::TimeLine) %>
event['backgroundColor'] = '#ff0000' ;
event['color'] = '#2e8b57' ;
<% elsif time_line.instance_of?(Atnd::TimeLine) %>
event['backgroundColor'] = '#ff0000' ;
event['color'] = '#8b0000' ;
<% elsif time_line.instance_of?(Doorkeeper::TimeLine) %>
event['backgroundColor'] = '#ff0000' ;
event['color'] = '#c71585' ;
<% end %>
event['allDay'] = false ;
<% end %>
event['url'] = '<%=time_line.inner_link %>' ;
events.push(event) ;
<% } %>
// -->
</script>

<ul class="nav nav-tabs">
  <li class="active"><a href="#event_calendar" data-toggle="tab">イベントカレンダー</a></li>
  <li><a href="#tips" data-toggle="tab">Tips</a></li>
  <li><a href="#event_list" data-toggle="tab">イベント</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="event_calendar">
    <div id='calendar' style='margin:3em 0;font-size:13px;border-style: none;'></div>
  </div>
  <div class="tab-pane" id="tips">
    <div style='margin:3em 0;font-size:13px;border-style: none;'>
      <ul>
        <% @list.find_all{|i| i.instance_of?(Qiita::TimeLine) }.each{|time_line| %>
          <li>
            <% if time_line.instance_of?(Qiita::TimeLine) %>
              <%=image_tag( '/images/qiita_icon.ico', :size => '16x16' ) %>
            <% elsif time_line.instance_of?(Zussar::TimeLine) %>
              <%=image_tag( '/images/zusaar_icon.ico', :size => '16x16' ) %>
            <% elsif time_line.instance_of?(Connpass::TimeLine) %>
              <%=image_tag( '/images/connpass_icon.ico', :size => '16x16' ) %>
            <% elsif time_line.instance_of?(Atnd::TimeLine) %>
              <%=image_tag( '/images/pin.ico', :size => '16x16' ) %>
            <% elsif time_line.instance_of?(Doorkeeper::TimeLine) %>
              <%=image_tag( '/images/doorkeeper_icon.png', :size => '16x16' ) %>
            <% end %>
             　
            <%= link_to( time_line.inner_link ) do %>
              <i class="icon-info-sign"></i>
              <%=truncate( time_line.title, length: 40, omission: "・・・" ) %>
            <% end %>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="tab-pane" id="event_list">
    <ul>
      <% @list.find_all{|i| !i.instance_of?(Qiita::TimeLine) }.each{|time_line| %>
      <li>
        <% if time_line.instance_of?(Qiita::TimeLine) %>
          <%=image_tag( '/images/qiita_icon.ico', :size => '16x16' ) %>
        <% elsif time_line.instance_of?(Zussar::TimeLine) %>
          <%=image_tag( '/images/zusaar_icon.ico', :size => '16x16' ) %>
        <% elsif time_line.instance_of?(Connpass::TimeLine) %>
          <%=image_tag( '/images/connpass_icon.ico', :size => '16x16' ) %>
        <% elsif time_line.instance_of?(Atnd::TimeLine) %>
          <%=image_tag( '/images/atnd_icon.ico', :size => '16x16' ) %>
        <% elsif time_line.instance_of?(Doorkeeper::TimeLine) %>
          <%=image_tag( '/images/doorkeeper_icon.png', :size => '16x16' ) %>
        <% end %>
        　
        <%= link_to( time_line.inner_link ) do %>
          <i class="icon-info-sign"></i>
          <%=time_line.started_at.to_s(:short_jp)%>
          <%=truncate( time_line.title, length: 40, omission: "・・・" ) %>
        <% end %>
      </li>
      <% } %>
    </ul>
  </div>
</div>