<ul>
  <% @list.each{|time_line| %>
    <li>
      <% if time_line.instance_of?(Qiita::TimeLine) %>
        <%=image_tag( '/images/qiita_icon.ico', :size => '16x16' ) %>
      <% elsif time_line.instance_of?(Zussar::TimeLine) %>
          <%=image_tag( '/images/zusaar_icon.ico', :size => '16x16' ) %>
      <% elsif time_line.instance_of?(Connpass::TimeLine) %>
          <%=image_tag( '/images/connpass_icon.ico', :size => '16x16' ) %>
      <% elsif time_line.instance_of?(Atnd::TimeLine) %>
          <%=image_tag( '/images/pin.ico', :size => '16x16' ) %>
      <% elsif time_line.instance_of?(Doorkeeper::TimeLine) %>
          <%=image_tag( '/images/doorkeeper_icon.png', :size => '16x16' ) %>
      <% end %>
      <%=time_line.started_at.to_s(:short_jp)%>
      <%=time_line.title %>
      <%= link_to "Link", time_line.inner_link %>
      <%= link_to "Link", time_line.link %>
    </li>
  <% } %>
</ul>
