<%=render_googlemap( @event['lat'], @event['lon'] ) %>

<h3><%= link_to_different_domain( @event['title'], @event['event_url'] ) %></h3>
<%=@event['catch'] %>
<h4><%= @event['accepted'] %><%=(@event['waiting']>0)? "(+#{@event['waiting']})":'' %>/<%= @event['limit'] %></h4>
<%= link_to( @event['owner_nickname'], action: 'users', owner_id: @event['owner_id'] ) %>
<hr/>

<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">詳細</a></li>
  <li><a href="#address" data-toggle="tab" onClick="load_only_once();">場所</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <%=raw @event['description'] %>
  </div>
  <div class="tab-pane" id="address">
    <div id="map_canvas" style="width:500px; height:300px"></div>
  </div>
</div>
