<% qiita_timeline = @qiita_timelines.first %>

<% if qiita_timeline.presence %>
    <h2>
    <span class='user_image'>
      <%= image_tag( qiita_timeline['user']['profile_image_url'], width: '64px' ) %>
    </span>
      <%= qiita_timeline['user']['url_name'] %>
    </h2>
<% end %>

<table class='table table-striped'>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Tag</th>
  </tr>
  <% @qiita_timelines.each_with_index{ | timeline, index | %>
      <tr>
        <td><span class="badge"><%= @offset + index %></span></td>
        <td><%=link_to_different_domain( timeline['title'], timeline['url'] ) %></td>
        <td>
          <% timeline['tags'].each_with_index{ | tag, index | %>
        <span class='qiita_category_image'>
          <% image_tag_out = image_tag_completion_missing( tag['icon_url'], alt: tag['name'], title: tag['name'] ) %>
          <%= link_to( image_tag_out, controller: 'qiita/tags', action: 'show', id: tag['name'], ) %>
        </span>
          <% } %>
        </td>
      </tr>
  <% } %>
</table>

<ul class="pager">
  <li><%= link_to_if( (@page)>1, 'Prev', controller: 'qiita/users', action: 'show', id: params[:id], page: @page-1 ) %></li>
  <li><%= link_to( 'Next', controller: 'qiita/users', action: 'show', id: params[:id], page: @page+1 ) %></li>
</ul>