<!DOCTYPE html>
<html>
<head>
  <title>開発中のアプリ</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class='header'>
      <%=link_to( image_tag( '/images/title.png', :size => '160x75', ), '/', { class: :title_link }) %>
      <% if user_signed_in? %>
        <%="#{current_user.email}を" %>
        <%= button_to "ログアウト", destroy_user_session_path, { method: :delete, class: :session } %>
      <% else %>
        <%= button_to "ログイン", new_user_session_path, { method: :get, class: :session } %>
      <% end %>
    </div>
  </header>

<div class='body'>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

<footer>
  <div class='footer'>
    <%=link_to( 'on github', 'https://github.com/mitsuhirookuno/Rails4Tutorial') %>
    <%=link_to( 'on jenkins', 'http://jenkins.rubyprogrammer.info/job/Rails4Tutorial/') %>
    <%=Time.now.strftime('%Y/%m/%d %H:%M:%S') %>
  </div>
</footer>

</body>
</html>
