<!DOCTYPE html>
<html>
<head>
  <title>Rails4練習台アプリ</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
  <header>
    <%=link_to( image_tag( '/images/title.png', :size => '160x75', ), '/') %>
  </header>
</div>

<hr/>

<div id='body'>
  <%= yield %>
</div>

<hr/>

<div id='footer'>
  <footer>
    <%=link_to( 'on github', 'https://github.com/mitsuhirookuno/Rails4Tutorial') %>
    <%=link_to( 'on jenkins', 'http://jenkins.rubyprogrammer.info/job/Rails4Tutorial/') %>
    <%=Time.now.strftime('%Y/%m/%d %H:%M:%S') %>
  </footer>
</div>

</body>
</html>
